# Настройки PostgreSQL (ДОЛЖНЫ СОВПАДАТЬ с docker-compose.yml!)
# Формат: postgresql+asyncpg://USER:PASSWORD@HOST:PORT/DB
POSTGRES_USER=USERNAME_DB
POSTGRES_PASSWORD=PASSWORD_DB
POSTGRES_HOST=HOST_DB
POSTGRES_PORT=PORT_DB
POSTGRES_DB=NAME_DB


LOG_LEVEL=DEBUG
DEBUG=true